/* clean default browser css */
html, body, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-decoration: none;
	line-height: 100%;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a:visited {
    color: black;
}
a {
	color: black;
}


body {
	font-family: Arial, Helvetica, sans-serif;
}
.index-head { 
    background-image: url('../images/background.png');
    background-repeat: no-repeat;
    background-position: center; 
	background-color: rgb(0, 160, 160);
	text-align: center;
	color: white;
	min-height: 250px;
	display: table;
	width: 100%;
}

.inside-index-head {
	vertical-align: middle;
	position: relative;
	display: table-cell;
}
.internationalization {
	text-align: right;
	float: right;
	padding: 10px;
	vertical-align: middle;	
}
.title {
	font-size: 40px;
	padding-bottom: 20px;
}
.subtitle {
	font-size: 28px;
}
ul.menu {
	list-style-type: none;
    margin-top: 10px;
	text-align: center;
	font-size: 20px;
}

.menu li {
    display: inline-block;
	margin-top: 10px;
	margin-bottom:10px;
	text-align: center;
}
.menu li a {
	padding: 5px;
	border: 2px solid #eee;
	border-radius: 3px
}

.menu li a:hover {
    background-color: #eee;
}

ul.topic {
	list-style-type: none;
    margin: 0;
	text-align: center;
	padding: 10px;
}

@media screen and (max-width: 642px) {
  .topic li {
    display: inline-block;
	text-align: left;
	width: 90%;
	min-width: 100px;
	max-width: 450px;
	padding: 30px;
	vertical-align: top;
}
}

.topic li {
    display: inline-block;
	text-align: left;
	width: 40%;
	min-width: 100px;
	max-width: 450px;
	padding: 30px;
	vertical-align: top;
}
.topic li a {
	text-align: left;
	font-size: 22px;
}
.topic div {
	text-align: justify;
	font-size: 17px;
}



footer {
	line-height: 60px;
	background-color: rgb(0, 160, 160);
	text-align: center;
	vertical-align: middle;
}
