.index-head { 
    background-image: url('../images/background.png');
    background-repeat: no-repeat;
    background-position: center; 
	background-color: rgb(70, 160, 160);
	text-align: center;
	color: white;
	min-height: 250px;
	display: table;
	width: 100%;
}

.inside-index-head {
	vertical-align: middle;
	position: relative;
	display: table-cell;
}
.internationalization {
	text-align: right;
	float: right;
	margin: 10px;
	vertical-align: middle;	
}

ul.menu {
	list-style-type: none;
	text-align: center;
	font-size: 22px;
	background: rgb(230, 245, 245);
}

.menu li {
    display: inline-block;
	margin-top: 1px;
	margin-left: 1px;
	background-color: rgb(70, 160, 160);
	border: 1px;
	border-radius: 1px;
	/*width: 100%*/
}
.menu li a {
	padding-right: 2px;
	padding-left: 2px;
	color: white;
	vertical-align: super;
}

.menu li:hover {
	color: rgb(50, 50, 50);
	background-color: #eee;
}
.menu li a:hover {
	color: rgb(50, 50, 50);
}