.index-head { 
	background-color: rgb(70, 160, 160);
	text-align: center;
	color: white;
	min-height: 250px;
	display: table;
	width: 100%;
}

.index-head2 { 
	padding-top: 25px;
	background-color: #252525;
	text-align: center;
	color: white;
	min-height: 100px;
	display: table;
	width: 100%;
}

.not-underline-a:hover{
	text-decoration: none;
}

.inside-index-head {
	padding-top: 25px;
	min-height: 160px;
}

.internationalization {
	text-align: right;
	float: right;
	margin: 10px;
}

ul.menu {
	list-style-type: none;
	font-size: 16px;
	text-align: center;
	padding-top: 30px
}

.menu li {
	display: inline-block;
	padding-bottom:10px;
}

.menu li a {
	padding-left: 5px;
	padding-right: 5px;
	color: white;
	vertical-align: super;
}
